* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    color: black;
}

body {
    width: 100%;
    height: 100dvh;
}

header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    width: 222px;
    height: auto;
}

#content_wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100dvh;

    .content_container {
        width: calc(100% - 300px);
        background-color: rgb(247, 244, 232);
        filter: drop-shadow(2px 0px 3px #00000041);

        .title {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .photo_restaurant {
            position: absolute;
            left: 45%;
            top: 27%;
            width: 100px;
            border-radius: 50%;
            filter: drop-shadow(0 0 0.25rem rgb(24, 24, 24));
        }

        .restaurant {
            padding: 0 30px;

            h3 {
                margin-top: 16px;
            }
        }
        .mealscontainer {
            width: 100%;
            height: 100dvh;

            .foodcont {
                width: 100%;
                height: 100dvh;
            }
            .food_photo {
                width: 50px;
                height: 50px;
            }
        }
    }

    .basket_container {
        width: 300px;
        flex-grow: 1;
        _border: 2px solid rgb(148, 114, 73);
        filter: drop-shadow(0px 2px 3px #00000041);

        .basket {
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: center;
            position: sticky;
            padding: 16px;
            top: 0;
        }
    }
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 224, 207);

    .footer_content {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
        }
    }
    p {
        margin-top: 5px;
        font-weight: 600;
    }
}
